@import url("colors/pywal.css");

/*

___       __              ______
__ |     / /_____ _____  ____  /_______ ________
__ | /| / /_  __ `/_  / / /_  __ \  __ `/_  ___/
__ |/ |/ / / /_/ /_  /_/ /_  /_/ / /_/ /_  /
____/|__/  \__,_/ _\__, / /_.___/\__,_/ /_/
                  /____/

Here is where you can configure Waybar's .jsonc
*/

* {
    font-family: Arimo Nerd Font, otf-font-awesome; /* DO NOT CHANGE THIS! */
    font-size: 12px;
    min-height: 30px; /* or however tall you want */
    padding: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

@keyframes workspaceanim {
    from {
        color: #ffffff;
        background-color: #000000;
        padding-right: 7px;
        padding-left: 7px;
    }

    to {
        color: #000000;
        background-color: @color5;
        padding-right: 10px;
        padding-left: 10px;
    }
}

#workspaces {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 1px;
    padding-left: 1px;
    background-color: transparent;
    border-radius: 12px;
}

#workspaces button {
    margin: 1px;
    border-radius: 12px;
    border: 2px solid @color5;
    background-color: #000000;
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;

    /* Replace animation with transition */
    transition: all 0.25s ease;
}

#workspaces button:hover {
    background-color: #181818;
    color: #ffffff;
}

#workspaces button.focused,
#workspaces button.active {
    padding-right: 12px;
    padding-left: 12px;
    background-color: @color5;
    color: #000000;

    /* Smooth transition for active state */
    transition: all 0.25s ease;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#privacy,
#language,
#keyboard-state,
#backlight,
#battery,
#privacy-item,
#taskbar {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #000000;
    padding: 0 10px;
    color: #ffffff;
    border-radius: 12px;
    border: 2px solid @color5;
}

#custom-vjdlogo {
    font-family: iconly;
    background-color: transparent;
    color: @color5;
    font-size: 48px;
    padding: 0 10px;
}

#custom-powermenu {
    background-color: transparent;
    color: @color5;
    font-size: 20px;
    padding: 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

label:focus {
    background-color: #000000;
}

#clock {
    color: @cursor;
    background-color: transparent;
    border: 2px solid transparent;
}

#battery.charging, #battery.plugged {
    color: #3ccf6a;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio.muted {
    color: #f53c3c;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
