@import url("colors/pywal.css");

/*
 ## ////////////////////// ##
 ## //  NWG-DOCK  //  ##
 ## ////////////////////// ##

 This is nwg-dock-hyprland, a dock a part of the NWG-Shell family of programs
*/

window {
	background: #000000;
	border: 3px solid @color5;
	border-radius: 15px;
}

#box {
	/* Define attributes of the box surrounding icons here */
	padding: 10px;
}

#active {
	/* This is to underline the button representing the currently active window */
	box-shadow: 0px 1.5px #ffffff;
	border-color: rgba(255, 255, 255, 1);
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999;
}

button {
	padding: 4px;
	margin-left: 4px;
	margin-right: 4px;
	color: #eee;
	font-size: 12px;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
}

button:focus {
	box-shadow: none;
}
