@import url("colors.css");

/*
 ## //////////////// ##
 ## //  NWG-DOCK  // ##
 ## //////////////// ##

 This is nwg-dock-hyprland, a dock a part of the NWG-Shell family of programs
*/

@define-color main @primary_fixed;
@define-color secondary @primary_container;
@define-color errorcolor @on_error;

window {
	background: rgba(0,0,0,0.9);
	border: 2px solid @secondary;
	border-radius: 15px;
}

#box {
	/* Define attributes of the box surrounding icons here */
	padding: 10px;
}

#active {
	/* This is to underline the button representing the currently active window */
	box-shadow: 0px 2px @main;
}

button, image {
	background: none;
	border-style: none;
	box-shadow: none;
	color: #999;
}

button {
	padding: 1px;
	margin-left: 3px;
	margin-right: 3px;
	color: #eee;
	font-size: 12px;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
}

button:focus {
	box-shadow: none;
}
